.screen {
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
}

.screen__modal-wrapper {
  z-index: 2500;
  position: fixed;
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 10px;
  background-color: #F4F5F6;
  border: #202021 solid 3px;
  overflow-y: scroll;
}

.screen__modal-wrapper > p {
  margin-left: 10px;
  text-decoration: underline;
}

.delete-button {
  color: #E51010;
  cursor: pointer;
}

.close-button {
  cursor: pointer;
}

.screen__modal-wrapper__form-container {
  z-index: 2500;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  border-radius: 10px;
  overflow-y: scroll;
  max-width: 400px;
  margin: 0px auto;
}

.screen__modal-wrapper__form-container > form {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 10px;
}

.screen__modal-wrapper__form-container > form > input {
  border: none;
  background-color: #202021;
  color: #F4F5F6;
}

.screen__modal-wrapper__form-container > form > textarea {
  height: 300px;
  resize: vertical;
}

.screen__modal-wrapper__form-container > form > button {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .screen__modal-wrapper {
    width: 70%;
    height: 85%;
    margin-top: 5%;
    margin-left: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .screen__modal-wrapper {
    width: 50%;
    height: 85%;
    margin-top: 5%;
    margin-left: 25%;
  }
}