.pts-card {
  height: 82px;
  width: 275px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12.5px 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.pts-card > h2 {
  color: #F4F5F6;
}

#position {
  background-color: #202021;;
}

#transition {
  background-color: #1D1ADB;
  border: 2px solid #F4F5F6;
}

#submission {
  background-color: #E51010;
  border: 2px solid #F4F5F6;
}